<main class="container">
  <h1>Cat Galery</h1>
  <section class="galery">
    <img src="{{ img }}1" alt="Cat Image" />
    <img src="{{ img }}2" alt="Cat Image" />
    <img src="{{ img }}3" alt="Cat Image" />
    <img src="{{ img }}4" alt="Cat Image" />
    <img src="{{ img }}5" alt="Cat Image" />
    <img src="{{ img }}6" alt="Cat Image" />
    <img src="{{ img }}7" alt="Cat Image" />
    <img src="{{ img }}8" alt="Cat Image" />
    <!-- This empty element avoids last image to stretch excessively -->
    <div data-empty></div>
  </section>
</main>
<small
  >Source:
  <a href="https://thecatapi.com">Cat Images API</a>
</small>
